<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true"
         stopOnFailure="false"
         syntaxCheck="false">

<testsuites>
       <testsuite name="Scheduler Testsuite">
           <directory suffix="Test.php">Test</directory>
       </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">/home/travis</directory>
            <directory suffix=".module">/home/travis</directory>
        </whitelist>
    </filter>
</phpunit>
